* {
    /*font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;*/
    font-size: small;
}

.chart_text {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: small;
    fill: rgb(84, 84, 84);
    padding-left: 2px;
}

.chart_a {
    padding-left: 2px;
    fill: #18bc9c;
}