{% extends "base.html" %}

{% block title %}
  JOL Recipe List
{% endblock title %}

{% block content %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">JOL Recipe Book</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">List</li>
    </ol>
    <div class="row">
      <div class="col-lg-12 mb-2">
        <h2>Recipes</h2>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% include 'recipe_list.html' %}
      </div>
      <div class="row">
        <div class="col" id="new_recipe">
          <div class="card border-primary mb-3">
            <div class="card-body mx-auto">
              <a class="my-4 btn btn-primary stretched-link" data-toggle="modal" data-target="#newRecipeModal">Add New Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="mb-4">

  <!-- New Recipe Modal -->
  <div class="modal fade" id="newRecipeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add New Recipe</h5>
              </div>
              <form id="createNewRecipeForm">
                <div class="modal-body" id="unitConversionModalBody">
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="inputRecipeName" class="form-label">Recipe Name</label>
                        <input type="text" class="form-control" name="inputRecipeName" placeholder="Enter Recipe Name (e.g. 'Bagels')">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="inputTagLine" class="form-label mt-4">Tag Line (Optional)</label>
                        <input type="text" class="form-control" name="inputTagLine" placeholder="Enter Tag Line (e.g. 'Ready in 30min')">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="inputInfoTag1" class="form-label mt-4">Info Tags (Optional)</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" name="inputInfoTag1" placeholder="Enter Tag 1">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="inputInfoTag2" placeholder="Enter Tag 2">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="inputInfoTag3" placeholder="Enter Tag 3">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="vegeQnYes" class="form-label mt-4">Is Recipe Vegetarian?</label>
                          <div class="form-check ml-2">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="vegeQn" value="Yes" checked="">Yes
                            </label>
                          </div>
                          <div class="form-check ml-2">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="vegeQn" value="Optional">Optional
                            </label>
                          </div>
                          <div class="form-check ml-2">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="vegeQn" value="No">No
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" value="Create"></button>
              </div>
            </form>
          </div>
      </div>
  </div>

  {% if mode == 'edit' %}
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Recipe?</h5>
          </div>
          <div class="modal-body" id="deleteConfirmationModalBody" data-recipe=''>
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="deleteRecipe()" class="btn btn-secondary">Proceed with Delete</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block scripts %}
  
  <script>

      $("#createNewRecipeForm").on("submit", function(event){
        event.preventDefault(); //stop the form being handled by the default handler and use this custom one..

        var formValues= $(this).serialize();

        $.ajax({
          type: "POST",
          url: '/api/createRecipe',
          dataType: 'json',
          data: formValues,
          contentType: 'application/x-www-form-urlencoded',
          success: function(data) {
            if (data.redirect) {
            // data.redirect contains the string URL to redirect to
              window.location.href = data.redirect;
            } else {
                // data.form contains the HTML for the replacement form
                console.log(data);
            }
          },
          error: function(data) {
            console.log(data);
          }
        });
      });

      function showDeleteRecipeModal(recipe_name, recipe_safe_name) {
        $('#deleteConfirmationModalBody').html('<p>Are you sure you want to the delete the \'' + recipe_name + '\' recipe?</p>'); //replace the modal content with the new data returned from the back end
        $('#deleteConfirmationModalBody')[0].dataset.recipe = recipe_safe_name;
        $('#deleteConfirmationModal').modal(); // show the modal
      }

      function deleteRecipe() {
        var recipeToDelete = JSON.stringify({recipe_to_delete: $('#deleteConfirmationModalBody')[0].dataset.recipe})
        
        $.ajax({
          type: "DELETE",
          url: '/api/deleteRecipe',
          dataType: 'json',
          data: recipeToDelete,
          contentType: 'application/json',
          success: function(data) {
            $('#deleteConfirmationModal').modal('hide'); // hide the modal
            location.reload();
          },
          error: function(data) {
            alert('error');
            console.log(data);
          }
        });
      }
    

  
  </script>

{% endblock scripts %}