{% extends "base.html" %}
{% block title %}JOL Recipe - {{ recipe['name'] }}{% endblock title %}

{% block content %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">JOL Recipe Book</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/list">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conversion">Unit Conversion</a>
            </li>
          </ul>
        </div>
    </nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/list">List</a></li>
      <li class="breadcrumb-item active">{{ recipe['name'] }}</li>
    </ol>
    <div class="jumbotron py-4">
      <h2>{{ recipe['name'] }}</h2>
      <p class="lead">{{ recipe['description'] }}</p>
      <p class="mb-0">
        <button type="button" class="mr-2 btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#scalingModal">
          Adjust Qty
        </button><span></span>
        <em id="heading_quantity" data_qty={{ recipe['serving_qty'] }}>Quantity shown {{ recipe['serving_tag'] }} {{ recipe['serving_qty'] }} {{ recipe['serving_unit'] }}.</em>
      </p>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <a class="nav-link active" data-toggle="tab" href="#ingredients_tab">Ingredients</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" data-toggle="tab" href="#equipment_tab">Equipment</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" data-toggle="tab" href="#method_tab">Method</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show" id="ingredients_tab">
        {% include 'ingredient_list.html' %}
      </div>
      <div class="tab-pane fade" id="equipment_tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-2">
            <h5 class="mt-2">Standard</h5>
            <ul class="list-group">
                {% if recipe['equipment_standard'] %}
                  {% for item in recipe['equipment_standard'] %}  
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="flex-grow-1">{{item}}</span>
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="flex-grow-1"><i>None</i></span>
                  </li>
                {% endif %}
              </ul>
          </div>
          <div class="col-lg-4 col-md-6 mt-2">
            <h5 class="mt-2">Specialised</h5>
            <ul class="list-group">
                {% if recipe['equipment_special'] %}
                  {% for item in recipe['equipment_special'] %}  
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="flex-grow-1">{{item}}</span>
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="flex-grow-1"><i>None</i></span>
                  </li>
                {% endif %}
              </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="method_tab">
        <div class="col-lg-12">
          <div style="width:100%;max-width:690px;margin-left:auto;margin-right:auto;" id="chart_area">
            {% block chart_svg %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="mb-4">

  <!-- Scaling Modal -->
  <div class="modal fade" id="scalingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Adjust Recipe Quantity</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputPassword1">Update to:</label>
            <div class="input-group">
              <input data_qty="{{ recipe['serving_qty'] }}" id="updatedScaleFactor" type="numeric" class="form-control" value="{{ recipe['serving_qty'] }}">
              <div class="input-group-append">
                <span class="input-group-text" min="0" step="1">{{ recipe['serving_unit'] }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" onclick="updateScaling()" class="btn btn-primary" data-dismiss="modal">Apply</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    var recipe_quantity = {{recipe['serving_qty']}}

    function changecolor(elt) {
      svg_elt = document.getElementById(elt.id);

      if (svg_elt.getAttribute('fill') == '#c5e1a5') {
        svg_elt.setAttribute('fill','#3D4242');
      }
      else {
        svg_elt.setAttribute('fill','#c5e1a5');
      }
    
    }

    function updateScaling() {
      var serving_tag = '{{ recipe['serving_tag'] }}';
      var serving_qty = '{{ recipe['serving_qty'] }}';
      var serving_unit = '{{ recipe['serving_unit'] }}';
      //Quantity shown  {{ recipe['serving_qty'] }} {{ recipe['serving_unit'] }}.

      var new_qty = $('#updatedScaleFactor').val()

      if (new_qty != serving_qty) {
        serving_qty = new_qty
        // trigger request to back end for updated chart for new qty.
        $.ajax({
          type : "GET",
          url : '/api/getChart',
          dataType: "html",
          data: {recipe:'{{ recipe['safe_name'] }}', quantity:serving_qty},
          contentType: 'application/json;charset=UTF-8',
          success: function (data) {
            $('#chart_area').html(data); //replace the chart with the new one returned from the back end
            $('#heading_quantity').html('Quantity shown ' + serving_tag + ' ' + serving_qty + ' ' + serving_unit); //update the text that states the qty
            $('[data-toggle="popover"]').popover() //re-enable the popovers
          }
        });

        // trigger request to back end for updated ingredient list with new qty.
        $.ajax({
          type : "GET",
          url : '/api/getIngredientList',
          dataType: "html",
          data: {recipe:'{{ recipe['safe_name'] }}', quantity:serving_qty},
          contentType: 'application/json;charset=UTF-8',
          success: function (data) {
            $('#ingredients_tab').html(data); //replace the chart with the new one returned from the back end
          }
        });

      }   

    }



    $(function () {
      $('[data-toggle="popover"]').popover()
    });

      
  </script>

{% endblock scripts %}
   
