{% extends "base.html" %} 

{% block title %}
JOL Recipe - {{ recipe.name }}
{% endblock title %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">JOL Recipe Book</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/list">List</a></li>
        <li class="breadcrumb-item active">{{ recipe.name }}</li>
    </ol>
    <div class="jumbotron py-4">
        <h2>{{ recipe.name }}</h2>
        <p class="lead">{{ recipe.description }}</p>
        <p class="mb-0">
            <button type="button" class="mr-2 btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#scalingModal">
          Adjust Qty
        </button><span></span>
            <em id="heading_quantity" data_qty={{ recipe.serving_qty }}>Quantity shown {{ recipe.serving_tag }} {{ recipe.serving_qty }} {{ recipe.serving_unit }}.</em>
        </p>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item mr-1">
            <a class="nav-link active" data-toggle="tab" href="#ingredients_tab">Ingredients</a>
        </li>
        <li class="nav-item mr-1">
            <a class="nav-link" data-toggle="tab" href="#equipment_tab">Equipment</a>
        </li>
        <li class="nav-item mr-1">
            <a class="nav-link" data-toggle="tab" href="#method_tab">Method</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="ingredients_tab">
            {% include 'ingredient_list.html' %}
        </div>
        <div class="tab-pane fade" id="equipment_tab">
            {% include 'equipment_list.html' %}
        </div>
        <div class="tab-pane fade" id="method_tab">
            <div class="col-lg-12">
                <div id="chart_area">
                    {% block chart_svg %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<br class="mb-4">

{% include '/recipe/modals.html' %}

{% if mode == 'edit' %}
    {% include '/recipe/edit_modals.html' %}
{% endif %}

{% endblock content %}

{% block scripts %}
<script>

    if (sessionStorage.getItem("{{ recipe.safe_name }}_checkedElements")) {
        // Restore the contents of the checked elements value from session storage
        var checkedElements = JSON.parse(sessionStorage.getItem("{{ recipe.safe_name }}_checkedElements"));
        updateCheckedElementsFromSessionStorage();
    } else {
        var checkedElements = {};
        sessionStorage.setItem('{{ recipe.safe_name }}_checkedElements', JSON.stringify(checkedElements));
    };

    function addCheckedElementToSessionStorage(element) {
        checkedElements[element.id] = true
        sessionStorage.setItem('{{ recipe.safe_name }}_checkedElements', JSON.stringify(checkedElements));
    };

    function removeCheckedElementFromSessionStorage(element) {
        checkedElements[element.id] = false
        sessionStorage.setItem('{{ recipe.safe_name }}_checkedElements', JSON.stringify(checkedElements));
    };

    function markComplete(group_element) {
        if (group_element.classList.contains('checked')) {
            group_element.classList.remove('checked');
            removeCheckedElementFromSessionStorage(group_element)

            // for the node elements it will have a dataset 'fillurl' that points to the gradient fill
            if (group_element.dataset.fillurl) {
              $('#' + group_element.dataset.fillurl)[0].classList.remove('checked');
            }
            
        } else {
            group_element.classList.add('checked');
            addCheckedElementToSessionStorage(group_element)
            // for the node elements it will have a dataset 'fillurl' that points to the gradient fill
            if (group_element.dataset.fillurl) {
              $('#' + group_element.dataset.fillurl)[0].classList.add('checked');
            }
        }
    };

    function updateCheckedElementsFromSessionStorage() {
        for (var key in checkedElements) {
            if (checkedElements[key] === true) {
                element = $('#' + key)[0]
                element.classList.add('checked');
                if ($(element).data('fillurl')) { //need this to exclude the ingredient nodes that don't have a fill URL.
                    $('#' + element.dataset.fillurl)[0].classList.add('checked');
                };
            };
        }
    };

    //handle change of ingredient in the scaling modal
    $('#ingredientSelect').on("change", function() {
        var baseUnit = $('#ingredientSelect option:selected').attr('data-unit');
        var baseValue = $("#ingredientSelect option:selected").attr('value');
        $('#baseUnit').text(baseUnit);
        $('#updatedUnit').text(baseUnit);
        $('#baseValue')[0].placeholder = baseValue;
        $('#updatedValue')[0].value = baseValue;
    });

    function updateScaling() {
        var serving_tag = '{{ recipe.serving_tag }}';
        var serving_qty = '{{ recipe.serving_qty }}';
        var serving_unit = '{{ recipe.serving_unit }}';

        var updatedValue = $('#updatedValue').val();
        var baseValue = $('#baseValue')[0].placeholder;
        var multiplier = updatedValue / baseValue;

        serving_qty = serving_qty * multiplier;
        serving_qty = +(Math.round(serving_qty + "e+2") + "e-2");


        // trigger request to back end for updated chart for new qty.
        $.ajax({
            type: "GET",
            url: '/api/getChart',
            dataType: "html",
            data: {
                recipe: '{{ recipe.safe_name }}',
                multiplier: multiplier
            },
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
                $('#chart_area').html(data); //replace the chart with the new one returned from the back end
                $('#heading_quantity').html('Quantity shown ' + serving_tag + ' ' + serving_qty + ' ' + serving_unit); //update the text that states the qty
                $('[data-toggle="popover"]').popover() //re-enable the popovers
                updateCheckedElementsFromSessionStorage()
            }
        });

        // trigger request to back end for updated ingredient list with new qty.
        $.ajax({
            type: "GET",
            url: '/api/getIngredientList',
            dataType: "html",
            data: {
                recipe: '{{ recipe.safe_name }}',
                multiplier: multiplier
            },
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
                $('#ingredients_tab').html(data); //replace the chart with the new one returned from the back end
                updateCheckedElementsFromSessionStorage()
            }
        });
    }

    function showUnitConversionModal(element) {       
               
        $("#unitConversionModal").modal(); // show the modal

        $( "#unitConversionModal .modal-body" ).toggle(); // show the loading spinner

        $.ajax({
            type: "GET",
            url: '/api/getIngredientConversion',
            dataType: "html",
            data: {
                input: element.innerHTML
            },
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
                $('#unitConversionModalBody').html(data); //replace the modal content with the new data returned from the back end  
                $( "#unitConversionModal .modal-body" ).toggle(); // once data is back from server side toggle the loading spinner off and data on
            }
        });        
    }

    {% if mode == 'edit' %}
        {% include '/recipe/edit_mode.js' %}
    {% endif %}    

</script>

{% endblock scripts %}